
.player {
  /* background-color: pink; */
  padding-top: 80px;
}

.top {
  height: 250px;
  text-align: center;
}

.left-btn, .right-btn {
  /* background-color: slateblue; */
  display: inline-block;
  width: 15%;
  height: 100%;
  line-height: 250px;
}

.left-btn {
  float: left;
}

.jacket-wrapper {
  /* background-color: teal; */
  display: inline-block;
  width: 70%;
  height: 100%;
  text-align: center;
}

.jacket {
  margin: 0px auto;
  max-width: 270px;
}

.right-btn {
  float: right;
}

/* ==== player bottom ==== */

.bottom {
  /* background-color: tan; */
  height: 90px;
  text-align: center;
}

.volume-ctl, .like-ctl {
  width: 40px;
  height: 40px;
  margin-top: 5px;
}

.volume-ctl {
  display: inline-block;
}

.music-info {
  /* background-color: teal; */
  display: inline-block;
  margin: 0px 20px;
  vertical-align: top;
}

.music-info h3 {
  font-size: 22px;
  font-weight: bold;
}

.like-ctl {
  display: inline-block;
}